.navigation {
  height: 70px;
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      font-size: 1.4rem;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
