.sign-up-container {
  width: 30%;
  margin: 1rem 3rem 3rem 3rem;

  h2 {
    display: flex;
    margin: 10px 0;
    font-size: 1.5rem;
    justify-content: center;
  }

  span {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
  }

  .signup-buttons-container {
    width: 100%;
    display: inline-flex;
  }
}
