body {
  margin: 0;
  padding: 1rem 3rem;
  font-family: "Abel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  overflow-y: scroll;
  max-width: 1600px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media only screen and (max-width: 374px) {
  body {
    padding: 1rem 1rem;
    max-width: 360px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
  body {
    padding: 1rem 1rem;
    max-width: 580px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  body {
    padding: 1rem 2rem;
    max-width: 880px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200) {
  body {
    padding: 1rem 2rem;
    max-width: 1100px;
  }
}
